{# web/views/base.twig #}

<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="fr-FR" />
    <meta http-equiv="Cache-Control" content="max-age=600" />
    <meta name="description" content="Le curriculum vitae de Florian Perrot">
    <meta name="keywords" content="curriculum vitae,cv,florian, perrot, florian perrot">
    <meta name="author" content="Florian Perrot">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{{ asset('/views/css/knacss.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('/views/css/base.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('/views/css/top_page.css') }}" type="text/css" />


    <title>Florian Perrot</title>

</head>

<body >

    <noscript id="noscript">
        <p style="text-align:center;margin-top:20%;">
            Pour accéder à toutes les fonctionnalités de ce site, vous devez activer JavaScript.<br/>
            Voici les <a href="http://www.enable-javascript.com/fr/" target="_blank">
                instructions pour activer JavaScript dans votre navigateur Web</a>.
        </p>
    </noscript>

    <header>
        <a class="display-menu">
            <svg class="param" xml:space="preserve" enable-background="new 0 0 24 24" viewBox="0 0 24 24"  height="24px" width="24px" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="Ebene_1" version="1.1">
                <rect class="rect1" height="2" width="34" y="5"/>
                <rect class="rect2" height="2" width="34" y="11"/>
                <rect class="rect3" height="2" width="34" y="17"/>
            </svg>

        </a>

        <div class="menu">
            <ul>
                <li><a>Portfolio</a></li>
                <li class="separation">-</li>
                <li><a>Blog</a></li>
                <li class="separation">-</li>
                <li><a>CV</a></li>
            </ul>
        </div>
        <h1 class="titre-header">Bonjour, je suis <br/><span>Florian Perrot</span></h1>

    </header>

    <main>
        <div class="bloc-article"> <h2>Culture et Cultures</h2> <div class="image"><img src="{{ asset('/views/img/c&c.jpg') }}" /></div>
            <div class="text-article">
                <h4>Qui sont-ils ?</h4>
                <p>
                    L'association Culture & Cultures permettre à des handicapés de touts âges de
                    partir en vacances, de ce fait elle emploie régulièrement des accompagnateurs spécialisés.
                    <br/>
                    <ul>
                        <li>Association de tourisme à but non lucrtif</li>
                        <li>Nombre d'employés : 6 temps plein</li>
                    </ul>
                </p>

                <h4>Que'est ce que ça m'a apporté ?</h4>
                <p>Ce stage m'a permis de mettre en pratique les connaissances que j'ai acquise durant mes deux années à l'IUT.
                    N'ayant pas de consigne, j'ai dû réaliser un cahier des charges et proposer des fonctionnalités ainsi
                    qu'une charte graphique.<br/><br/>
                    Lien vers le <a href="http://asso-cultureetcultures.com/">Site</a>
            </div>
        </div>
        <div class="bloc-article"> <h2>Ctrl+w</h2> <div class="image"><img src="{{ asset('/views/img/mush.jpg') }}" /></div>
            <p>CTRL+W est un script (en java-script), il permet d'ajouter des fonctionnalités au jeu sur navigateur <a href="http://mush.vg/">Mush</a> de <a href="http://twinoid.com">Twinoid</a>.
                Si vous ne connaissez pas ce grand nom <span style="font-size: 0.80em">(mais pas trop)</span> de l'industrie vidéo-ludique française
                c'est que vous n'avez pas passé quelques précieuses heures devant <a href="http://www.hordes.fr">Hordes</a> a planifier avec 40 autres
                survivants un plan de construction afin de survivre les 10 prochaines nuits. Vous ne vous êtes pas creuses la tête sur
                des questions improbables sur <a href="http://majority.muxxu.com">Majority</a> : <ul> Qu'est-ce qu'une scarole ?
                <li> 1. Un canotier</li><li>2. Handball</li> <li>3. Patrick Dupond</li></ul>
                <br/>
                C'est un projet collaboratif hébergé sur la plateforme Github.
            </p>
        </div>
        <div class="bloc-article"> <h2>Reaper-Project</h2> <div class="image"><img src="https://d2t1xqejof9utc.cloudfront.net/screenshots/pics/9db80da4ee1dd1e32a779ed1e92f8c87/medium.jpg" /></div> <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere </p></div>
        <div class="bloc-article"> <h2>BDE MMI</h2> <div class="image"><img src="https://scontent-a-fra.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/q81/s720x720/1964773_242840769237028_760982464_n.jpg?oh=50a652d137faf86a25203066d9409dcc&oe=54B5442C" /></div> <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere </p></div>
    </main>

    <footer>
        <div class="widget">
            <h3>Mentions légales</h3>
            <p>L'ensemble de ce site relève des législations françaises et internationales sur le droit
                d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés,
                y compris pour les documents iconographiques et photographiques. </p>
        </div>
    </footer>



</body>

</html>



<link rel="stylesheet" href="{{ asset('/views/css/bottom_page.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('/views/css/other_screen.css') }}" type="text/css" />

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
    jQuery(function(){
        $(".display-menu")
                .click(function() {
                    $menu = $(".menu");
                    $display_menu = $(".display-menu");
                    if ($menu.css("display") == "none"){
                        $menu.slideDown();
                    }
                    else {
                        $menu.slideUp();
                    }
                }
        )
                .hover(function(){
                    $(".display-menu svg .rect1").attr("y","3px");
                    $(".display-menu svg .rect3").attr("y","19px");
                },function(){
                    $(".display-menu svg .rect1").attr("y","4px");
                    $(".display-menu svg .rect3").attr("y","17px");
                });
    });
</script>